#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

/* .sas_bt {
  padding-left: 10%;
} */
::ng-deep .sas_bt {
  display: flex;
}

::ng-deep .button-inner {
  font-size: 20px;
}

.ion-color-primary {
  background-image: linear-gradient(to bottom right, black, blue);
}

ion-card.ion-color .ion-inherit-color,
ion-card-header.ion-color .ion-inherit-color {
  color: white;
}

ion-button {
  --background: rgb(25, 27, 134);
  color: white;
}
